@import url("./boilerplate.css");
@import url("./Nav.css");
@import url("./Table.css");

body {
    background: rgb(38,82,142);
    background: linear-gradient(0deg, rgba(38,82,142,1) 0%, rgb(57, 137, 166) 50%);
}

h1 {
    margin: 60px 20px 20px 20px;
}

#appContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1060px) {
    .table-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 1.4rem;
    }

    table {
        width: 350px;
    }

    .sub {
        margin-top: 20px;
    }
}