.table-container {
    display: flex;
}

caption {
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.5rem;
}

table {
    width: 500px;
    margin: 40px 20px;
    border: 2px solid #000000;
    border-collapse: collapse;
    background-color: #f2db9d;
}

table sub {
    float: right;
    margin-top: 10px;
}

td, th {
    padding: 10px;
    border: 1px solid #000000;
}

td {
    min-width: 56px;
    text-align: center;
}

th {
    background-color: #505050;
    color: #ffffff;
}

.darkcell {
    background-color: #efca86;
}